data/**/*.jpeg
data/**/*.png
data/**/*.jpg
data/**/*.JPG
data/**/*.pt
data/**/*.DS_Store
data/training/image_list.bin

model_detection.pt

__pycache__

venv

dejavu-fonts-ttf-2.37

yolo/images
yolo/training
yolo/labels
